#body {
    background-image: url("/Users/daenamcclintock/sei/projects/game-project/imgs/Picture-of-Blackjack-Table.jpeg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position-x: -200px;
}

#game-play-container {
  margin: 0 auto;
  text-align: center;
  color: white;
  display: none
}

h1 {
    text-align: left;
    color: white;
    margin: 20px 20px 20px 15px;
    font-family: sans-serif;
    font-size: 50px;
}

h3 {
    text-align: left;
    color: white;
    margin: 20px 20px 20px 20px;
    font-family: sans-serif;
    font-size: 25px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-blackjack-row-1 {
  margin-top: 130px;
}

.flex-blackjack-row-2 {
  color: black;
  margin-top: 50px;
}

.flex-blackjack-row-3 {
  margin-bottom: 100px;
  align-items: center;
  position: relative;
}

.flex-blackjack-row-2 div {
  padding: 10px;
  flex: 1;
  height: 350px;
  text-align: center;
}

.flex-blackjack-row-2 div img {
  padding: 10px;
  object-fit: contain;
}

.flex-blackjack-row-3 div {
  padding: 10px;
}

.flex-blackjack-row-3 div button {
  padding: 10px;
  margin-bottom: 10px;
}

#blackjack-hit-button {
  background-color: blue;
  font-weight: bold;
  color: white;
  border: 2px solid black;
}

#blackjack-stand-button {
  background-color: yellow;
  font-weight: bold;
  color: black;
  border: 2px solid black;
}

#blackjack-deal-button {
  background-color: red;
  font-weight: bold;
  color: white;
  border: 2px solid black;
}

#blackjack-restart-button {
  background-color: green;
  font-weight: bold;
  color: white;
  border: 2px solid black;
}

#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button, #blackjack-restart-button {
  margin-top: 50px;
  margin-left: 15px;
  padding: 20px;
}

table, th, td {
  padding: 5px;
  border: 2px solid white;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

#win-header {
  color: green;
  background-color: lightgray;
}

#loss-header {
  color: red;
  background-color: lightgray;
}

#draw-header {
  color: darkgoldenrod;
  background-color: lightgray;
}

#start-button {
    font-weight: bold;
    background-color: red;
    padding: 20px 50px 20px 50px;
    color: white;
    margin: 30px 0px 0px 140px;
}

#basic-strategy-button {
    font-weight: bold;
    background-color: green;
    padding: 5px 20px 5px 20px;
    color: white;
    margin: 0px 10px 0px 20px;

}

#game-rules-button {
    font-weight: bold;
    background-color: blue;
    padding: 5px 20px 5px 20px;
    color: white;
    margin: 10px 10px 0px 20px;
}

#card-count-button {
  font-weight: bold;
  background-color: gold;
  padding: 15px 40px 15px 40px;
  color: black;
  margin: 10px 10px 0px 30px;
}

#blackjack-result {
  text-align: center;
  position: relative;
  top: 210px;
}

#cards-left-in-deck {
  text-align: right;
  position: relative;
  color: black;
  top: 130px;
  right: 240px;
}

#your-box {
  position: relative;
  bottom: 100px;
}

#dealer-box {
  position: relative;
  bottom: 100px;
  right: 100px;
}



















/* ALL CSS BELOW THIS LINE IS FOR THE MODEL BUTTONS */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal2.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header2 {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header2 .title2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header2 .close-button2 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body2 {
  padding: 10px 15px;
}

#overlay2 {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay2.active {
  opacity: 1;
  pointer-events: all;
}

.modal3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal3.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header3 {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header3 .title3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header3 .close-button3 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body3 {
  padding: 10px 15px;
}

#overlay3 {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay3.active {
  opacity: 1;
  pointer-events: all;
}